<div class="row full-h">
  <div class="col-6 card-add-wrapper">
    <div class="card-add">
      <form (submit)="obterDefinicao()" class="row align-items-end" [formGroup]="form" novalidate>
        <div class="col-4">
          <label for="idPalavra" class="form-label">Palavra</label>
          <input type="text" class="form-control" id="idPalavra" formControlName="palavra">
        </div>
        <!-- <div class="col-6">
          <label for="idFrase" class="form-label">Frase</label>
          <input type="text" class="form-control" id="idFrase" formControlName="frase">
        </div> -->
        <div class="col-2">
          <a (click)="obterDefinicao()" class="btn btn-primary">Buscar</a>
        </div>
        <div class="col-2">
          <div class="loader" *ngIf="mostrarLoader">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="row" *ngIf="rootObject?.sugestoes && rootObject?.sugestoes?.length !== 0">
        <div class="col-12">
          <br>
            Sugestões: <span class="sugestao" *ngFor="let item of rootObject?.sugestoes" 
            (click)="sugerir(item)">{{item}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>
            <span class="click" (click)="mostrarTraducao = !mostrarTraducao;">
              Tradução frase 
              {{ mostrarTraducao ? '-' : '+' }}
            </span>
          </h5>
        </div>
        <div class="col-12">
          <span [class.esconder]="!mostrarTraducao">{{traducaoFrase}}</span>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-12">
          <br>
          <h1>{{rootObject?.palavra}}</h1>
          <br>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Traduções da palavra</h5>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline" *ngFor="let traducao of rootObject?.traducoes">
            <input class="form-check-input" type="checkbox" name="traducao" [id]="traducao.id" [value]="traducao.id"
              [checked]="traducao.checked" (change)="changeTraducao(traducao)">
            <label class="form-check-label tooltip2-wrapper" [for]="traducao.id">
              {{traducao.traducao}}

              <div class="tooltip2">
                <div class="tooltip2-inner">
                  Frequência {{traducao.frequencia ? traducao.frequencia : 0}}
                </div>
              </div>
            
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Pronúncias</h5>
        </div>
        <div class="col-12">
          <audio controls #audioEl></audio>
          <br>

          <div class="form-check form-check-inline" *ngFor="let pronuncia of rootObject?.pronuncias">
            <input class="form-check-input" type="checkbox" name="pronuncia" [checked]="pronuncia.checked"
            [id]="pronuncia.pronuncia" [value]="pronuncia.pronuncia" (change)="changePronuncia(pronuncia)">
            <label class="form-check-label" [for]="pronuncia.pronuncia">{{pronuncia.pronuncia}}</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Significados</h5>
        </div>
        <div class="col-12">
          <div *ngFor="let dicionario of rootObject?.dicionarios">
            <h6>{{dicionario.dicionario}}</h6>

            <div class="form-check form-check" *ngFor="let significado of dicionario?.significados">
              <input class="form-check-input" type="checkbox" name="significado" [checked]="significado.checked"
              [id]="significado.id" [value]="significado.id" (change)="changeSignificado(significado)">
              <label class="form-check-label" [for]="significado.id">{{significado.definicao}}</label>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Imagens</h5>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline" *ngFor="let imagem of rootObject?.imagens">
            <input class="form-check-input" type="checkbox" name="traducao" [checked]="imagem.checked"
            [id]="imagem.src" [value]="imagem.src" (change)="changeImagem(imagem)">
            <label class="form-check-label" [for]="imagem.src">
              <img [src]="imagem.src" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 anki-content-wrapper">
    <div class="anki-content">
      <div class="anki-content-form">
        <h5>Front</h5>
        <div class="anki-input" contentEditable="true" #ankiFront>
          I think my feelings for Robin may be resurfacing. 
        </div>
        <br>
        <h5>Back</h5>
        <div class="anki-input" contentEditable="true" #ankiBack>
          <div #ankiBackPronuncia></div>
          <div #ankiBackTraducao></div>
          <div #ankiBackSignificado></div>
          <div #ankiBackImagem></div>
        </div>
      </div>

      <div class="botao-wrapper">
          <span *ngIf="decks.length === 0"><b>*Anki esta fechado </b></span>
          <select #Select (change)="changeDeck(Select.value)">
            <option *ngFor="let i of decks">{{i}}</option>
          </select>

          <button (click)="adicionar()" [disabled]="decks.length === 0" class="btn btn-success">Adicionar</button>
          <a (click)="limpar()" class="btn btn-danger">Limpar</a>
          <a (click)="obterAudio()" class="btn btn-primary">Áudio</a>
          <a (click)="traduzirFrase()" class="btn btn-warning">Traduzir</a>
        </div>
    </div>
  </div>
</div>