<div class="row full-h">
  <div class="col-6 card-add-wrapper">
    <div class="card-add">
      <form (submit)="obterDefinicao()" class="row align-items-end" [formGroup]="form" novalidate>
        <div class="col-4">
          <label for="idPalavra" class="form-label">Palavra</label>
          <input type="text" class="form-control" id="idPalavra" formControlName="palavra">
        </div>
        <!-- <div class="col-6">
          <label for="idFrase" class="form-label">Frase</label>
          <input type="text" class="form-control" id="idFrase" formControlName="frase">
        </div> -->
        <div class="col-2">
          <a (click)="obterDefinicao()" class="btn btn-primary">Buscar</a>
        </div>
        <div class="col-2">
          <div class="loader" *ngIf="mostrarLoader">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="row" *ngIf="rootObject?.sugestoes && rootObject?.sugestoes?.length !== 0">
        <div class="col-12">
          <br>
            Sugestões: <span class="sugestao" *ngFor="let item of rootObject?.sugestoes" 
            (click)="sugerir(item)">{{item}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>
            <span class="click" (click)="mostrarTraducao = !mostrarTraducao;">
              Tradução frase 
              {{ mostrarTraducao ? '-' : '+' }}
            </span>
          </h5>
        </div>
        <div class="col-12">
          <span [class.esconder]="!mostrarTraducao">{{traducaoFrase}}</span>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-12">
          <br>
          <h1>{{rootObject?.palavra}}</h1>
          <br>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Pronúncias</h5>
        </div>
        <div class="col-12">
          <audio controls #audioEl></audio>
          <br>

          <div class="form-check form-check-inline" *ngFor="let pronuncia of rootObject?.pronuncias">
            <input class="form-check-input" type="checkbox" name="pronuncia" [checked]="pronuncia.checked"
            [id]="pronuncia.pronuncia" [value]="pronuncia.pronuncia" (change)="changePronuncia(pronuncia)">
            <label class="form-check-label" [for]="pronuncia.pronuncia">{{pronuncia.pronuncia}}</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <br>
          <h5>
            <span class="click" (click)="mostrarContext = !mostrarContext;">
              Traduções da palavra {{ mostrarContext ? '-' : '+' }}
            </span>
          </h5>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline" *ngFor="let traducao of rootObject?.traducoes">
            <input class="form-check-input" type="checkbox" name="traducao" [id]="traducao.id" [value]="traducao.id"
              [checked]="traducao.checked" (change)="changeTraducao(traducao)">
            <label class="form-check-label tooltip2-wrapper" [for]="traducao.id" [class.esconder]="!mostrarContext">
              {{traducao.traducao}}

              <div class="tooltip2">
                <div class="tooltip2-inner">
                  Frequência {{traducao.frequencia ? traducao.frequencia : 0}}
                </div>
              </div>
            
            </label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <br>
          <h5>Significados: <b>{{rootObject?.palavra}}</b></h5>
        </div>
        <div class="col-12 significado-wrapper">
          <div *ngFor="let dicionario of rootObject?.dicionarios">
            <h6>{{dicionario.dicionario}}</h6>

            <div class="form-check form-check significado" *ngFor="let significado of dicionario?.significados">
              <input class="form-check-input" type="checkbox" name="significado" [checked]="significado.checked"
              [id]="significado.id" [value]="significado.id" (change)="changeSignificado(significado)">

              <label class="significado-label" [for]="significado.id">
                <span class="sentido" *ngIf="sentidoPossuiClasseGramatical(significado)"><i>{{significado.sentido}}</i> - </span>
                <span class="sentido" *ngIf="sentidoNaoPossuiClasseGramatical(significado)"><i>{{significado.classeGramatical}} {{significado.sentido}}</i> - </span>
                {{significado.definicao}}
              </label>

              <div class="exemplos" *ngIf="significado.exemplos.length === 1">
                
                <input [disabled]="!significado.checked" class="form-check-input" type="checkbox" name="exemplo" [checked]="significado.exemplos[0].checked"
                [id]="significado.exemplos[0].id" [value]="significado.exemplos[0].id" (change)="changeExemplo(significado.exemplos[0], significado)">

                <label [for]="significado.exemplos[0].id">
                  <span><i>- {{significado.exemplos[0].exemplo}}</i></span>
                </label>
              </div>

              <div class="exemplos" *ngIf="significado.exemplos.length > 1 && !significado.mostrarMais">
                <input [disabled]="!significado.checked" class="form-check-input" type="checkbox" name="exemplo" [checked]="significado.exemplos[0].checked"
                [id]="significado.exemplos[0].id" [value]="significado.exemplos[0].id" (change)="changeExemplo(significado.exemplos[0], significado)">

                <label [for]="significado.exemplos[0].id">
                  <span><i>- {{significado.exemplos[0].exemplo}}</i></span>
                </label>
                <div><span class="sugestao" (click)="significado.mostrarMais = true;"><i>- Mostrar Mais</i></span></div>
              </div> 
              
              <div class="exemplos" *ngIf="significado.exemplos.length > 1 && significado.mostrarMais">
                <div *ngFor="let exemplo of significado.exemplos">

                  <input [disabled]="!significado.checked" class="form-check-input" type="checkbox" name="exemplo" [checked]="exemplo.checked"
                    [id]="exemplo.id" [value]="exemplo.id" (change)="changeExemplo(exemplo, significado)">

                  <label [for]="exemplo.id">
                    <span><i>- {{exemplo.exemplo}}</i></span>
                  </label>

                </div>
                <div><span class="sugestao" (click)="significado.mostrarMais = false;"><i>- Mostrar Menos</i></span></div>
              </div> 

            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <br>
          <h5>Imagens</h5>
        </div>
        <div class="col-12">
          <div class="form-check form-check-inline" *ngFor="let imagem of rootObject?.imagens">
            <input class="form-check-input" type="checkbox" name="traducao" [checked]="imagem.checked"
            [id]="imagem.src" [value]="imagem.src" (change)="changeImagem(imagem)">
            <label class="form-check-label" [for]="imagem.src">
              <img [src]="imagem.src" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 anki-content-wrapper">
    <div class="anki-content">
      <div class="anki-content-form">
        <h5>Front</h5>
        <div class="anki-input" contentEditable="true" #ankiFront (paste)="onPaste($event)">
        </div>
        <h5>Pronuncia</h5>
        <div class="anki-input" contentEditable="true" #ankiPronuncia (paste)="onPaste($event)">
          <div #ankiBackPronuncia></div>
        </div>
        <h5>Traducao</h5>
        <div class="anki-input" contentEditable="true" #ankiTraducao (paste)="onPaste($event)" >
          <div #ankiBackTraducao></div>
        </div>
        <h5>Significado</h5>
        <div class="anki-input" contentEditable="true" #ankiSignificado (paste)="onPaste($event)">
          <div #ankiBackSignificado></div>
          <div #ankiBackImagem></div>
        </div>
      </div>

      <div class="botao-wrapper">
          <span *ngIf="decks.length === 0"><b>*Anki esta fechado </b></span>
          <select #Select (change)="changeDeck(Select.value)">
            <option *ngFor="let i of decks" [selected]="i === deckSelecionado">{{i}}</option>
          </select>

          <button (click)="adicionar()" [disabled]="decks.length === 0" class="btn btn-success">Adicionar</button>
          <a (click)="limpar()" class="btn btn-danger">Limpar</a>
          <a (click)="obterAudio()" class="btn btn-primary">Áudio</a>
          <a (click)="traduzirFrase()" class="btn btn-warning">Traduzir</a>
        </div>
    </div>
  </div>
</div>