<div class="ebook">
    <div [contentEditable]="false" #elementoAnotacao></div>
</div>

<div class="menu" (click)="mostrarCapitulos = !mostrarCapitulos">
    <div class="linha"></div>
    <div class="linha"></div>
    <div class="linha"></div>
</div>

<div class="capitulos-wrap" *ngIf="mostrarCapitulos">
    <div class="capitulos">
        <div *ngFor="let item of capitulos">
            <span (click)="mostrarCapituloAux(item.href)">{{ item.capitulo }}</span>
        </div>
    </div>

    <div class="fechar" (click)="mostrarCapitulos = !mostrarCapitulos">
        X
    </div>
</div>

<div class="note-wrap" *ngIf="mostrarNote && highlight">
    <div class="fechar">
        <span (click)="fecharNote()">X</span>
    </div>
    <div class="note">
        <textarea name="" id="textarea" [(ngModel)]="highlight.comentario"></textarea>
    </div>

    <div class="salvar">
        <span (click)="salvarNote()">SALVAR</span>
    </div>
</div>

