@font-face {
    font-family: Bookerly;
    src: url('./../../../assets/fonts/bookerly/Bookerly.ttf');
}

.class_s1r,
.class_s3b ,
.calibre1,
.calibre2,
.calibre7,
.calibre_1,
.calibre_2,
.calibre_3,
.calibre_8,
.paft,
section p,
.content,
.indented {
    text-indent: initial !important;
    margin-bottom: 25px !important;
    font-family: Bookerly !important;

    word-wrap: break-word;
    hyphens: auto;
}

.indented {
text-align: justify;
}

.ebook {
    padding: 0 16% !important;
    background-color: #ededed !important;
    color: #000 !important;
    font-family: Bookerly !important;
    overflow-x: hidden !important;
    font-size: 29px !important;
    line-height: 46px !important;
    padding: 0 14% !important;
    
    >div {
        background-color: #ffffff;
        padding: 0 4%;
    }
}

mark {
    background-color: #fff5a0;
}

.mark {
    background-color: #fff5a0;
}

body {
    padding: 0 !important;
    background-color: #fff !important;
}

span[data-note] {
    position: relative;

    &::after {
        content: "A";
        display: block;
        position: absolute;
        padding: 1px 3px;
        top: 0;
        left: -16px;
        font-size: 15px;
        line-height: 17px;
        color: #ffffff;
        background-color: #39322b;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
}


span[data-pro] {
    position: relative;

    &::after {
        content: attr(data-pro);
        display: block;
        position: absolute;
        top: 0;
        line-height: 0;
        // left: 60%;
        // margin-left: -50%;

        left: 0;
        margin-left: 0;
        text-align: center;
        width: 100%;

        font-size: 13px;
        color: #777a7b;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        white-space: nowrap;
    }
}

.menu {
    color: #fff;
    width: 40px;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;

    .linha {
        width: 100%;
        height: 5px;
        background-color: #39322b;
        margin-bottom: 8px;
    }
}

.capitulos-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #39322b;
    color: #fff;
    padding: 10px 15px;
    height: 98.5%;
    z-index: 2;
    overflow-y: scroll;
    min-width: 350px;

    .fechar {
        position: absolute;
        top: 5px;
        right: 10px;
        font-weight: 900;
        cursor: pointer;
        font-size: 30px;
    }
}

.capitulos {

    div {
        margin: 3px 0;
    }

    span {
        cursor: pointer;
    }
}

.hide {
    display: none !important;
}


.note-wrap {
    position: fixed;
    background-color: #39322b;
    color: #fff;
    padding: 10px 15px;
    width: 500px;
    height: 300px;
    left: 50%;
    bottom: 0;
    margin-left: -250px;
    z-index: 2;

    .fechar {
        font-weight: 900;
        font-size: 30px;
        text-align: right;

        span {
            cursor: pointer;
        }
    }

    .salvar {
        font-weight: 900;
        font-size: 30px;
        text-align: right;

        span {
            cursor: pointer;
        }
    }

    textarea {
        width: 100%;
        height: 200px;
    }
}

.mobile {
    .ebook {
        text-align: center;
        padding: 0 0% !important;
        font-size: 16px !important;
        line-height: 25px !important;
        padding: 0 0% !important;
        
        >div {
            background-color: #ffffff;
            padding: 0 0%;
        }
    }
}


.select-biblia {
    display: block;
    margin-top: 34px;
}

.reader .verse {
    margin-bottom: 15px;
}