@import './assets/css/bootstrap-dark.min.css';

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important
}
  
::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.16);
}

html,
body,
main,
.full-h {
  height: 100%;
}

.card-add {
  border-right: 1px solid #000;
  padding: 20px 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}